:root{
    --MainBgc:#2f3c52;
}

*{
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: inherit;
}

body {
    height: 100vh;
    margin: 0;
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    background-color: var(--MainBgc);
    display: block;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #222e40;
}

h1 {
    font-weight: 300;
    margin:0;
}

.info{
    text-align: center;
    color: white;
    background-color: var(--MainBgc);
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
}

h2 {
    font-weight: 600;
    margin-left: 24rem;
}

b {
    font-weight: 900;
}

.flex-wrap {
    display: flex;
    height: 80%;
}

section, main {
    margin-top: 5rem;
    overflow-x: hidden;
    background-color: var(--MainBgc);
}

section {
    width: 40%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

main {
    width: 60%;
    display: flex;
    justify-content: center;
    position: relative;
}

nav {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


.nav-tile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 2rem;
    font-weight: 700;
    background-color: #3d4e6b;
    border-radius: 20px;
    position: relative;
    padding-left: 2rem;
}

.nav-tile img{
    position: absolute;
    right: 3rem;
}

.nav-tile:hover{
    cursor: pointer;
}

.hide{
    display: none !important;
}

.btn-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#next{
    font-family: inherit;
    padding: 1rem;
    border-radius: 20px;
    border: none;
    background-color: #3d4e6b;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

#next:hover{
    transition: all .75s;
    background-color:var(--MainBgc);
}