:root{
    --MainBgc:#2f3c52;
}

body {
    height: 100svh;
    margin: 0;
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
}

header {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #222e40;
}

h1 {
    font-weight: 300;
    padding: 10px;
}

.info{
    text-align: center;
    color: white;
    background-color: var(--MainBgc);
    margin: 0;
    /* padding-top: 3rem; */
    text-transform: uppercase;
    font-weight: 800;
}

h2 {
    font-weight: 600;
    margin-left: 24rem;
}

b {
    font-weight: 900;
}

.flex-wrap {
    display: flex;
}

section, main {
    height: calc(100vh - 6rem);
    box-sizing: border-box;
    background-color: var(--MainBgc);
}

section {
    width: 40%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

main {
    width: 60%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: relative;
}

.displayed{
    width: 100%;
    align-items: center;
}

main nav {
    width: 50%;
    height: 34rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav-tile {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: 700;
    background-color: #3d4e6b;
    border-radius: 20px;
}

.nav-tile:hover{
    cursor: pointer;
}

.nav-tile p {
    margin-left: 2rem;
}

.hide{
    display: none !important;
}

.arr{
    position: absolute;
    top: 2rem;
    left: 10rem;
}

/* KARTKI */
.cards{
    display: flex;
    gap: 5rem;
}

.card{
    width: 200px;
    height: 300px;
    display: grid;
    place-content: center;
    border-radius: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2rem;
}

.card:hover{
    cursor: pointer;
}

/* ANIMACJE */

.animate{
    transform: translateX(130px);
    transition: transform .5s, opacity 0.5s;
}

.notAnimate{
    transform: translateX(0);
    transition: transform .5s, opacity 0.5s;
}

.hidden{
    transform: translateX(3000px);
}

.showed{
    transform: translateX(0);
    transition: transform .5s, opacity 0.5s;
}